<h1>Parsing the data</h1>

In [1]:
import sys
sys.executable

'/Users/anvarshagvaleev/Education/DataScience/University/InternetAnalysis/exercise_1/venv/bin/python'

In [2]:
full_data = []
with open("access.log", "r") as f:
    for line in f:
        line = line.replace(" - - ", " ")\
            .replace(" HTTP 1.1", "")\
            .replace("[", "")\
            .replace("]", "")\
            .replace('"', '')\
            .replace("ID", "")\
            .split()
        full_data.append(line)

In [5]:
import pandas as pd
import datetime as dt

data = pd.DataFrame(full_data, columns=['ip', 'date', 'utc', 'method', 'query', 'status', 'doc_size', 'id'])
data = data.drop(['utc', 'status'], axis=1)
data['date'] = pd.to_datetime(data['date'], format='%d/%b/%Y:%H:%M:%S')

In [4]:
data.head(3)

                ip                date method           query doc_size    id
0     69.215.29.74 2015-12-01 00:00:12   POST   /search.phtml     3491  4923
1     69.215.29.74 2015-12-01 00:00:29   POST  /catalog.phtml     2143  4923
2  151.186.168.158 2015-12-01 00:00:44   POST  /catalog.phtml     2633  4736

In [33]:
data.to_csv('clear.csv', header=False)

<h1>Queries</h1>

In [25]:
data = pd.read_sql(
    """
    SELECT * FROM shopnew WHERE query LIKE '/addbasket.phtml%%';
    """,
    con="postgresql://postgres:password@localhost:5432/University"
)

data.head()

,id,ip,date,method,query,doc_size,user_id
0,9,156.197.248.14,2015-12-01 00:01:54,GET,/addbasket.phtml?id_book=20,4273,4920
1,18,156.197.248.14,2015-12-01 00:02:44,GET,/addbasket.phtml?id_book=78,3002,4920
2,22,81.205.211.49,2015-12-01 00:03:13,GET,/addbasket.phtml?id_book=25,2877,4925
3,27,110.49.61.147,2015-12-01 00:03:36,GET,/addbasket.phtml?id_book=25,4284,4926
4,37,214.40.50.218,2015-12-01 00:06:03,GET,/addbasket.phtml?id_book=8,2752,4930

<h1>Apriori algorithm</h1>

In [108]:
from mlxtend.frequent_patterns import apriori, association_rules


df = data.copy()
df = df[df['query'].str.contains('addbasket')]

In [175]:
df = df.groupby(['id', 'query'])['query'].count().unstack().reset_index().fillna(0).set_index('id')

In [176]:
def hot_encode(x):
    if(x<= 0):
        return 0
    if(x>= 1):
        return 1
  
# Encoding the datasets
df = df.applymap(hot_encode)

In [179]:
frq_items = apriori(df, min_support = 0.01, use_colnames = True)
  
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.6)
rules = rules.sort_values(['confidence', 'support'], ascending =[False, False])
rules

/Users/anvarshagvaleev/Education/DataScience/University/InternetAnalysis/exercise_1/venv/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(/addbasket.phtml?id_book=60),(/addbasket.phtml?id_book=31),0.020986,0.086479,0.014648,0.697987,8.071180,0.012833,3.024770
4,(/addbasket.phtml?id_book=96),(/addbasket.phtml?id_book=90),0.020352,0.086690,0.014085,0.692042,7.982932,0.012320,2.965692
1,(/addbasket.phtml?id_book=59),(/addbasket.phtml?id_book=25),0.021338,0.086549,0.014577,0.683168,7.893401,0.012731,2.883079
3,(/addbasket.phtml?id_book=93),(/addbasket.phtml?id_book=8),0.019437,0.091338,0.013239,0.681159,7.457567,0.011464,2.849894
0,(/addbasket.phtml?id_book=78),(/addbasket.phtml?id_book=20),0.020986,0.084437,0.014225,0.677852,8.027943,0.012453,2.842061